.oda-chat-wrapper {
    --color-branding: #2682f7;
    --color-launch-icon-background: #c0533f;
    --color-text: #212121;
    --color-text-light: #737373;
    --color-header-background: #2682f7;
    --color-header-button-fill: #161513;
    --color-header-text: #161513;
    --color-header-button-background-hover: rgba(22, 21, 19, 0.04);
    --color-header-button-fill-hover: #161513;
    --color-conversation-background: #F5F4F2;
    --color-timestamp: rgba(22, 21, 19, 0.65);
    --color-typing-indicator: #161513;
    --color-agent-initials: #FFFFFF;
    --color-agent-avatar-background: #A890B6;
    --color-agent-name: rgba(22, 21, 19, 0.65);
    --color-bot-message-background: #FFFFFF;
    --color-bot-text: #212121;
    --color-user-message-background: #E4E1DD;
    --color-user-text: #212121;
    --color-error-message-background: #FFF8F7;
    --color-error-border: #DC5C5E;
    --color-error-title: #D63B25;
    --color-error-text: #161513;
    --color-card-background: #FFFFFF;
    --color-card-nav-button: #FFF;
    --color-card-nav-button-focus: #FBF9F8;
    --color-card-nav-button-hover: #FBF9F8;
    --color-actions-background: #fff;
    --color-actions-background-focus: rgba(22, 21, 19, 0.04);
    --color-actions-background-hover: rgba(22, 21, 19, 0.04);
    --color-actions-border: rgba(22, 21, 19, 0.5);
    --color-actions-text: #161513;
    --color-actions-text-focus: #161513;
    --color-actions-text-hover: #161513;
    --color-global-actions-background: transparent;
    --color-global-actions-background-focus: rgba(22, 21, 19, 0.04);
    --color-global-actions-background-hover: rgba(22, 21, 19, 0.04);
    --color-global-actions-border: rgba(22, 21, 19, 0.5);
    --color-global-actions-text: #161513;
    --color-global-actions-text-focus: #161513;
    --color-global-actions-text-hover: #161513;
    --color-links: #c0533f;
    --color-user-links: #c0533f;
    --color-rating-star: #ececec;
    --color-rating-star-fill: #2682f7;
    --color-horizontal-rule-background: #cbc5bf;
    --color-attachment-placeholder: #e3e1dc;
    --color-attachment-footer: #fff;
    --color-attachment-text: #161513;
    --color-footer-background: #fff;
    --color-footer-button-fill: #161513;
    --color-footer-button-background-hover: rgba(22, 21, 19, 0.04);
    --color-footer-button-fill-hover: #161513;
    --color-input-background: #fff;
    --color-input-border: #fff;
    --color-input-text: #161513;
    --color-recognition-view-text: #fff;
    --color-visualizer: #2682f7;
    --color-visualizer-container-background: #fff;
    --color-notification-badge-background: #312d2a;
    --color-notification-badge-text: #fff;
    --color-popup-background: #fff;
    --color-popup-text: #161513;
    --color-popup-button-background: #fff;
    --color-popup-button-text: #161513;
    --color-popup-horizontal-rule: #cbc5bf;
    --color-popup-item-background-hover: rgba(22, 21, 19, 0.04);
    --color-table-header-background: #f1efec;
    --color-table-header-text: #161513;
    --color-table-background: #fff;
    --color-table-text: #161513;
    --color-table-separator: rgba(22, 21, 19, 0.1);
    --color-table-row-background-hover: rgba(22, 21, 19, 0.04);
    --color-table-actions-background: transparent;
    --color-table-actions-background-hover: rgba(22, 21, 19, 0.04);
    --color-table-actions-border: rgba(22, 21, 19, 0.5);
    --color-table-actions-text: #161513;
    --color-form-header-background: #f1efec;
    --color-form-header-text: #161513;
    --color-form-background: #fff;
    --color-form-text: #161513;
    --color-form-input-background: #fff;
    --color-form-input-border: rgba(22, 21, 19, 0.5);
    --color-form-input-border-focus: rgb(14, 114, 151);
    --color-form-input-text: #161513;
    --color-form-label: rgba(22, 21, 19, 0.65);
    --color-form-error: rgba(179,49,31);
    --color-form-error-text: rgba(22, 21, 19, 0.65);
    --color-form-actions-background: transparent;
    --color-form-actions-background-hover: rgba(22, 21, 19, 0.04);
    --color-form-actions-border: rgba(22, 21, 19, 0.5);
    --color-form-actions-text: #161513;
    --width-full-screen: 95vw;
    --widget-max-height: 937px;
    --position-top: unset;
    --position-left: unset;
    --position-right: 20px;
    --position-bottom: 20px;
    position: fixed;
    bottom: var(--position-bottom);
    left: var(--position-left);
    top: var(--position-top);
    right: var(--position-right);
    box-sizing: border-box;
    text-transform: none;
    z-index: 10000;
    color: var(--color-text);
    font-size: 16px;
    font-family: "Oracle Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
    transition: all .25s ease-in-out;
    -webkit-font-smoothing: antialiased;
}
